/* CSS Document */

select {
  display: none;
}
.select {
  display: block;
  background-image: url(gblCustomSelect.png);
  background-repeat: no-repeat;
  width: 220px;
  height: 34px;
  float: left;
  padding: 0;
  margin: 0;
  line-height: 34px;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  margin-top: -15px;
}
.select span {
  padding-left: 10px;
  padding-right: 10px;
}
.select .options {
  border-left: 4px solid #8cbae0;
  border-right: 4px solid #8cbae0;
  border-bottom: 4px solid #8cbae0;
  background-color: white;
}
.select .options div {
  padding-left: 10px;
  padding-right: 10px;
}
.select .options div:hover {
  color: white;
  background-color: #8cbae0;
}